#include "resource.h"
#include "idc.h"

IDD_SCAN_STATION_DIALOG DIALOG 0, 0, 122, 205
STYLE DS_SYSMODAL | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "ScanStation"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   AUTOCHECKBOX "Latch for &hiding", IDC_WND_LATCH, 6, 6, 110, 14, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   AUTOCHECKBOX "H&ide", IDC_HIDE, 6, 26, 110, 14, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP 

   AUTOCHECKBOX "&1: latch for pressing B", IDC_BTN_B_LATCH, 6, 46, 110, 14, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   CONTROL "Press &B", IDC_PRESS_B, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 66, 110, 14 
                                                                                                                            
   AUTOCHECKBOX "&2: latch for pressing C", IDC_BTN_C_LATCH, 6, 86, 110, 14, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP 
   CONTROL "Press &C", IDC_PRESS_C, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 106, 110, 14 

   AUTOCHECKBOX "&3: latch for pressing D", IDC_BTN_D_LATCH, 6, 126, 110, 14, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP 
   CONTROL "Press &D", IDC_PRESS_D, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 146, 110, 14 

   AUTOCHECKBOX "&4: latch for pressing G", IDC_BTN_G_LATCH, 6, 166, 110, 14, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP 
   CONTROL "Press &G", IDC_PRESS_G, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 186, 110, 14 
}

IDI_ICON ICON "Icon.ico"

